<html>
<head>
<h1> Regist </h1>
</head>
<body>
	<form action=regist_submit method=POST>
		<label for="username">ID</label>
		<input name = "username" type = "text" placeholder = "please input id">
		<label for="password">PW</label>
		<input name = "password" type = "text" placeholder = "please input pw"><br>
		<label for="name">NAME</label>
		<input name = "justname" type = "text" placeholder = "please input name"><br>
		<button type = "submit">regist submit</button>
	</form>
</body>
</html>
